@Charset "UTF-8";


*{
	margin:0;
	padding:0;
}
/* selector universal, resetea formatos de los navegadores */

body{
	font-family:Ghotam, "Helvetica Neue", Helvetica Arial, sans-serif;
	line-height:1.3em;
	font-size:1em;
	background:#ffff url(images/fondo.jpg) top repeat;
	width:100%;
	
}

.container{
	width:80%;
	max-width:1000px;
	background:#fff;
	background:rgba(0,0,0,0);
	margin: 20px auto;
	border-radius:2%;
}

header{
	width:100%;
	float:left;
}

header h3{
	width:20%;
	margin-left:20px;
	float:left;
}	

header h1{
	float:right;
	font-size:1.3em;
	margin-top:80px;
	margin-right:50px;
}
header h2{
	float:right;
	font-size:1.3em;
	margin-top:150px;
	margin-right:50px;
}

nav{
	width:100%;
	clear:both;
	padding:10px;
}
nav ul{
	width:100%;
	list-style:none;
	margin-bottom:30px;
}
nav ul li{
	text-align:center;
	width:25%;
	float:right;
}
/* si hay más de 4 botones, dividir el numero a 100% y tendremos el % válido */
aside{
	width:30%;
	float:right;
	margin-left:20px;
	margin-top:20px;
}
aside article{
	width:90%;
	margin-bottom:50px;
	border-bottom:dotted 1px #5e5c5c;
	padding-bottom:20px;
}
aside article img{
	width:250px;
}

section{
	padding:20px;
}

section h1{
	font-size:1.5em;
	margin-bottom:1em;
}

section p{
	line-height:1.5em;
}


footer{
	width:100%;
	clear:both;
	text-align:center;
	padding-bottom:10px;
}
footer p{
	font-size:0.7em;
	color:#645f60;
}
footer align footer a:visited{
	color:#645f60;
}
footer a:hover{
	text-decoration:none;
}








/* el . es porque es una clase */
/* 
 *
header{
	width:100%;
	background:#565454;
	color:#fff;
	padding-top:1em;
	padding-bottom:1em;
}

h1{
	text-align:center;
	font-family:Ghotam, "Helvetica Neue", Helvetica Arial, sans-serif;
	font-size:1.5em;
}

h2{
	text-align:center;
	font-family:Ghotam, "Helvetica Neue", Helvetica Arial, sans-serif;
	font-size:1em;
}
section{
	width:70%;
	margin:0 auto 0 auto;
}
article{
	padding:40px 0 20px 0;
}
/* solo con el de arriba valdría */
